{% extends "base.html" %}

{% block content %}
  <section class="sectionProfil">
    <h2>Supprimer mon profil</h2>
  </section>
  
  <section class="sectionProfil">
    <p>Es-tu sûr de vouloir supprimer ton compte ? <br>
      <strong>Cette action est irréversible.</strong>
    </p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="plainButtonMax">Oui, supprimer mon compte</button>
      <a href="{% url 'profile' %}">Annuler</a>
    </form>
  </section>
{% endblock %}