{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="sectionProfil">
    <h2>Modifier mon profil</h2>
  </section>

<form method="post" enctype="multipart/form-data" class="formContainer">
  {% csrf_token %}

  {{ form.username.label_tag }} {{ form.username }}
  {{ form.email.label_tag }} {{ form.email }}
  {{ form.first_name.label_tag }} {{ form.first_name }}
  {{ form.last_name.label_tag }} {{ form.last_name }}

  <p><strong>{{ form.avatar_choice.label }}</strong></p>
  <div class="avatar-radio">
    {% for radio in form.avatar_choice %}
      <label>
        {{ radio.tag }}
        {% with 'images/avatars/'|add:radio.data.value as avatar_path %}
          <img src="{% static avatar_path %}" alt="avatar" width="80" height="80">
        {% endwith %}
      </label>
    {% endfor %}
  </div>

  <div class="buttonGroup">
    <button type="submit" class="plainButtonBase" style="--btn-width: 300px;">Enregistrer les modifications</button>
    <a href="{% url 'profile' %}" class="outlineButtonBase">Annuler</a>
  </div>
</form>

{% endblock %}