{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="sectionProfil">
    <h2>Modifier mon profil</h2>
  </section>

<form method="post" enctype="multipart/form-data" class="formProfile">
  {% csrf_token %}

  {{ form.username.label_tag }} {{ form.username }}
  {{ form.email.label_tag }} {{ form.email }}
  {{ form.first_name.label_tag }} {{ form.first_name }}
  {{ form.last_name.label_tag }} {{ form.last_name }}

  <p><strong>{{ form.avatar_choice.label }}</strong></p>
  <div class="avatar-radio">
    {% for radio in form.avatar_choice %}
  <label>
    {{ radio.tag }}
    {% with 'images/avatars/'|add:radio.data.value as avatar_path %}
      <img src="{% static avatar_path %}" alt="avatar" width="80" height="80">
    {% endwith %}
  </label>
{% endfor %}
  </div>

  <button type="submit" class="plainButtonMax">Enregistrer les modifications</button>
</form>

{% endblock %}