{% extends "base.html" %}

{% block content %}
  <h1>Profil de {{ user.username }}</h1>
  <p>Email : {{ user.email }}</p>
  
  <h2>Mes articles</h2>

  {% if articles %}
    <ul>
      {% for article in articles %}
        <li>
          <strong>{{ article.title }}</strong><br>
          {{ article.content|truncatewords:20 }}<br>
          <em>Publié le {{ article.created_at|date:"d/m/Y H:i" }}</em>
          <p>{{ article.liked_by.count }} j’aime</p>
          <a href="{% url 'article_detail_html' article.id %}">Lire la suite</a>
          <a href="{% url 'delete_post' article.id %}">🗑️ Supprimer mon article</a>
          <a href="{% url 'edit_post' article.id %}">✏️ Modifier mon article</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Tu n’as pas encore publié d’article.</p>
  {% endif %}
  <a href="{% url 'edit_profile' %}">✏️ Modifier mon profil</a>
  <br>
  <a href="{% url 'delete_profile' %}">🗑️ Supprimer mon profil</a>
{% endblock %}