<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/accueil.css" />
    <title>Palmblog</title>
  </head>
  <body>
    <header class="header">
      <h1>Palmblog</h1>
      <div class="postprofil">
        <div class="newpost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>

          <p>Post</p>
        </div>
        <div class="profil">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
            />
          </svg>
          <p>Profil</p>
        </div>
      </div>
    </header>

    <section class="article">
      <div class="info">
        <p>21/07/2025</p>
        <p>Par @pseudo</p>
      </div>
      <div class="titreArticle">
        <h2>Titre de l'article</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, quam eaque. Quo, quas molestias itaque facere nam
          aspernatur accusamus consequatur voluptates vero, optio, earum esse
          asperiores aliquid ea id! Illo cumque omnis ad similique nam dolores
          consequatur facilis officiis deserunt molestiae beatae in at, vel
          earum eaque autem quisquam dolorem debitis dolor porro eos sequi ex
          assumenda fuga? Ea voluptatum ex velit aliquid omnis culpa!
        </p>
      </div>
      <a href="">Lire la suite</a>
    </section>
  </body>
</html>
