<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/accueil.css" />
    {% load static %}
    <title>Palmblog</title>
  </head>
  <body>
    <header class="header">
      <a href="/accueil">
        <h1>Palmblog</h1>
      </a>
      <div class="postprofil">
        <a href="{% url 'article_new_html' %}">
        <div class="newpost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
        </a>
          <p>Post</p>
        </div>
        <div class="profil">
          <a href="{% url 'profile' %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
              />
            </svg>
          </a>
          <p>Profil</p>
        </div>
      </div>
    </header>
    <div class="titreArticle">
      <h2>{{ article.title }}</h2>
      <p>{{ article.content }}</p>
    </div>
    <div>
      Publié par 
        <a href="{% url 'public_profile' article.user.id %}">
          {{ article.user.username }}
        </a>
        <p>{{ article.liked_by.count }} j’aime</p>
        <!-- Bouton Like/Unlike -->
        <form method="POST" action="{% url 'like' article.id %}">
          {% csrf_token %}
          {% if user in article.liked_by.all %}
            <button type="submit">❤️ Unlike</button>
          {% else %}
            <button type="submit">🤍 Like</button>
          {% endif %}
        </form>
    </div>
    <div class="return">
      <a href="/accueil">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z"
          />
        </svg>
      </a>
    </div>
  </body>
</html>
