{% extends "base.html" %}

{% block content %}
  <div class="articlePage">  
    <div class="articleInfos">
      {{ article.created_at|date:"d/m/Y - H:i" }} - par 
      <a href="{% url 'public_profile' article.user.id %}">
        {{ article.user.username }}
      </a>
      <h2>{{ article.title }}</h2>
    </div>  

    <div class="articleContent">
      <p>{{ article.content }}</p>
    </div>
        <p>{{ article.liked_by.count }} j’aime</p>
        <!-- Bouton Like/Unlike -->
        <form method="POST" action="{% url 'like' article.id %}">
          {% csrf_token %}
          {% if user in article.liked_by.all %}
            <button type="submit">❤️ Unlike</button>
          {% else %}
            <button type="submit">🤍 Like</button>
          {% endif %}
        </form>
  </div>
    
  <!-- <div class="return">
    <a href="/accueil">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z"
        />
      </svg>
    </a>
  </div> -->
  {% endblock content %}
