{% extends "base.html" %}

{% block content %}
  <section class="sectionProfil">
    <h2>Nouveau post</h2>
  </section> 

  <form method="POST" class="formContainer">
    {% csrf_token %}
    <div class="formContenu">
      <label for="title">Titre :</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div class="formContenu">
      <label for="content">Contenu :</label>
      <textarea
        id="content"
        name="content"
        rows="5"
        cols="40"
        required
      ></textarea>
    </div>
    <div class="buttonGroup">
      <button type="submit" class="plainButtonBase">Publier</button>
      <a href="{% url 'accueil' %}" class="outlineButtonBase">Annuler</a>
    </div>
  </form>
 {% endblock %}